{% extends 'master.html.twig' %}

{% block seccion_content %}

    <div class="card card-dark card-outline">
        <div class="card-header">
            <h3 class="card-title">Team Data</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="card-body box-profile">

                                <div class="card-deck">
                                    {% for player in players %}
                                        <div class="card">
                                            <img class="card-img-top" src="{{ asset('images/Insignias/' ~ player.getRankedTier() ~ '.png') }}" alt="Card image cap">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <b>{{ player.getName() }}</b>
                                                </li>
                                                <li class="list-group-item">
                                                    {% if player.getPlatform() == 'xbox' %}
                                                        <i class="fab fa-xbox"></i>
                                                    {% else %}
                                                        <i class="fab fa-playstation"></i>
                                                    {% endif %}
                                                    {{ player.getPlatform() }}
                                                </li>
                                                <li class="list-group-item">Ranked KDA: {{ player.getKda() }}</li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input captain" id="captain_{{ player.getName() }}">
                                                        <label class="form-check-label" for="exampleCheck1">
                                                            Captain
                                                            <span class="fa fa-hat-cowboy"></span>
                                                        </label>
                                                    </div>
                                                    <button
                                                            class="btn btn-dark savePlayer"
                                                            data-name="{{ player.getName() }}"
                                                            data-platform="{{ player.getPlatform() }}"
                                                            data-account="{{ player.getAccount() }}"
                                                            data-kda="{{ player.getKda() }}"
                                                            data-ranked="{{ player.getRankedTier() }}"
                                                            data-team="{{ player.getTeam() }}"
                                                    >
                                                        save
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    {% endfor %}

                                </div>

                                <br>
                                <a class="btn btn-dark" href="{{ url('team_list') }}">Back</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        $(document).ready(function () {
            prepareForms();
        });

        function prepareForms()
        {
            let forms = document.getElementsByClassName('savePlayer');
            let checkbox = document.getElementsByClassName('captain');

            Array.from(forms).forEach(function (value) {
                value.addEventListener('click', function (e) {
                    e.preventDefault();
                    savePlayer(e.target);
                })
            });

            Array.from(checkbox).forEach(function(element){
                element.addEventListener('change', function (e) {
                    if (e.target.checked) {
                        cleanCaptains();
                        e.target.checked = true;
                    }
                })
            });
        }

        function savePlayer(form)
        {
            form.classList.add('disabled');
            form.innerHTML = "saving...";

            let captain = document.getElementById('captain_' + form.dataset.name);
            let data = {
                name: form.dataset.name,
                account: form.dataset.account,
                platform: form.dataset.platform,
                rankedTier: form.dataset.ranked,
                kda: form.dataset.kda,
                team: form.dataset.team,
                captain: captain.checked
            };

            $.ajax({
                url: '{{ url('savePlayer') }}',
                data: data,
                success: function () {
                    form.innerHTML ='saved successfully';
                }
            });
        }

        function cleanCaptains()
        {
            let captains = document.getElementsByClassName('captain');

            Array.from(captains).forEach(function(element){
                element.checked = false;
            })
        }

    </script>
{% endblock %}