{% extends 'master.html.twig' %}

{% block seccion_content %}

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Datos de Unidad</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="card-body box-profile">

                                <div class="card-deck">
                                    {% for player in players %}
                                        <div class="card">
                                            <img class="card-img-top" src="{{ asset('images/Insignias/' ~ player.getRankedTier() ~ '.png') }}" alt="Card image cap">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <b>{{ player.getName() }}</b>
                                                </li>
                                                <li class="list-group-item">
                                                    <i class="fab fa-xbox"></i>
                                                    {{ player.getPlatform() }}
                                                </li>
                                                <li class="list-group-item">Ranked KDA: {{ player.getKda() }}</li>
                                                <li class="list-group-item">
                                                    <button
                                                            class="btn btn-primary savePlayer"
                                                            data-name="{{ player.getName() }}"
                                                            data-platform="{{ player.getPlatform() }}"
                                                            data-account="{{ player.getAccount() }}"
                                                            data-kda="{{ player.getKda() }}"
                                                            data-ranked="{{ player.getRankedTier() }}"
                                                    >
                                                        save
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    {% endfor %}

                                </div>
                                <br>
                                <a class="btn btn-default" href="{{ url('browser') }}">Back</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        $(document).ready(function () {
            prepareForms();
        });

        function prepareForms()
        {
            let form = document.getElementsByClassName('savePlayer');

            Array.from(form).forEach(function (value) {
                value.addEventListener('click', function (e) {
                    e.preventDefault();
                    savePlayer(e.target);
                })
            })
        }

        function savePlayer(form)
        {
            let data = {
                name: form.dataset.name,
                account: form.dataset.account,
                platform: form.dataset.platform,
                rankedTier: form.dataset.ranked,
                kda: form.dataset.kda
            }

            $.ajax({
                url: '{{ url('savePlayer') }}',
                data: data
            });
        }

    </script>
{% endblock %}