{% extends 'base.html.twig' %}

{% block body %}

  <body class="hold-transition login-page">
  <div class="login-box align-content-center">

    <a class="brand-link">
      <img src="{{ asset('images/PUBG_Logo_Color.png') }}" alt="PUBG Logo" style="width: 320px; height: 200px">
    </a>
    <div class="text-center"><h5>CONSOLE SCRIMS</h5></div>

    {% for label, messages in app.flashes %}
      {% for message in messages %}
        <div class="alert alert-{{ label }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endfor %}

    <div class="card" style="margin-bottom: 90%;">
      <div class="card-body login-card-body">
      {% if error %}
        <div class="alert alert-danger alert-dismissible">
          <li>Invalid Credentials</li>
        </div>
      {% else %}
          <p class="login-box-msg">Enter username and password to LogIn!</p>
      {% endif %}
        <form action="{{ path('login') }}" method="post">
          <div class="input-group mb-3">
            <input type="email" placeholder="Email"
                   id="username" name="_username" value="{{ last_username }}"
                   {% if error %} class="form-control is-invalid" {% else %} class="form-control" {% endif %} 
            >
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" placeholder="Password"
                   id="password" name="_password"
                   {% if error %} class="form-control is-invalid" {% else %} class="form-control" {% endif %}
            >
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">

              </div>
            </div>
            <!-- /.col -->

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="col-4">
              <button type="submit" class="btn btn-warning btn-block"> Join !</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
        <p class="mb-1">
          <a href="{{ path('register') }}">Register</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
</body>
{% endblock %}